.system-setting {
  display: flex;
}

.system-button-section button {
  /* outline: none; */
  border: none;
  display: flex;
  padding: 7px;
  width: 200px;
  background-color: var(--button-color);
  justify-content: center;
  cursor: pointer;
  border-radius: 7px;
  color: var(--light);
}
.system-button-section button:hover {
  background: greenyellow;
  color: black;
}
.system-button-section button:nth-child(2) {
  margin-top: 10px;
}
.system-button-section button:nth-child(3) {
  margin-top: 10px;
}
.system-button-section button:nth-child(4) {
  margin-top: 10px;
}
.system-button-section button:nth-child(5) {
  margin-top: 10px;
}
.system-button-section button:nth-child(6) {
  margin-top: 10px;
}
.system-button-section button:nth-child(7) {
  margin-top: 10px;
}
.system-button-section button:nth-child(8) {
  margin-top: 10px;
}
.system-button-section {
  display: inline-block;
  padding: 20px;
  background-image: linear-gradient(rgb(154, 160, 242), rgb(165, 227, 242));
  border-radius: 0 0px 7px 7px;
}
