main2 {
  width: 50%;
}

.setting-link_text {
  color: var(--dark);
}
.setting-sidebar {
}
.setting-link_text:hover {
  background-color: azure;
}
.setting-link_text:active {
  background-color: aliceblue;
}
