/* members list table */
.member-list-table table {
  width: 100%;
  background-color: rgb(207, 207, 207);
  font-size: 12px;
}
.member-list-table table tr {
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-around;
}
.member-list-table table tr th {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.member-list-table table tr td {
  background-color: rgb(255, 255, 255);
}
.member-list-table table tr .list-photo {
  width: 80px;
  height: 50px;
  /* background-color: aquamarine; */
}
.member-list-table table tr .active_deactive {
  border-radius: 2px;
}
.member-list-table tbody td:nth-child(13) {
  background-color: blue;
}
.member-list-table tbody td:nth-child(14) {
  display: flex;
}
.member-list-table table tr .member-list-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.member-list-btn td {
  margin-top: 18px;
}

.member-list-table thead {
  /* position: sticky;
  top: 60px; */
}
.member-list-table button {
  outline: none;
  border: none;
  cursor: pointer;
}
