.member-container .inner-member-container input::placeholder {
  font-size: 12px;
}

.member-container {
  padding: 0 20px 20px 20px;
}
.inner-member-container {
  margin-top: 10px;
}
/* image preview */
.preview {
  display: flex;
  width: 80px;
  height: 80px;
  background-color: rgb(238, 238, 238);
  margin-bottom: 15px;
}
.preview img {
  width: 100px;
  height: 100px;
}
/* image delete button */
.preview button {
  padding: 3px 15px 3px 15px;
  background-color: rgb(247, 11, 11);
  margin: 33px 0 0 85px;

  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* choose image file from local storage */
.form-control {
  margin-top: 5px;
  padding: 5px;
  background-color: rgb(54, 158, 158);
  cursor: pointer;
}
.form-group {
}
/* upload button */
.btn {
  padding: 3px 15px 3px 15px;
  color: var(--light);
  background-color: var(--button-color);
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 6px;
  border: 0 2px 3px 0 var(--dark);
}

/* ABOUT MEMEBER INFORMATION */
.member-input-info {
  margin-top: 20px;
}
.member-input-info i {
  margin-right: 2px;
}
.member-regi-form {
  /* display: flex;
    flex-direction: column; */
}
.member-ispaid-checkbox input {
  width: 17px;
  height: 17px;
}
.payment-section input {
  width: 17px;
  height: 17px;
}
.member-regi-form input {
  padding: 7px;
  padding-right: 50px;
  outline: none;
  border: 1px solid rgb(158, 157, 157);
  border-radius: 5px;
  background-image: linear-gradient(white, rgb(238, 249, 252));
}
.member-regi-form input[type="date"] {
  padding-right: 100px;
}
.member-regi-form input[type="checkbox"] {
  margin-top: 20px;
}
.rapper {
  font-size: 13px;
  display: flex;
  margin-top: 20px;

  align-items: center;
  justify-content: space-between;
}
.member-regi-form select {
  padding: 7px;
  padding-right: 132px;
  outline: none;
  border: 1px solid rgb(158, 157, 157);
  border-radius: 5px;
  background-image: linear-gradient(white, rgb(238, 249, 252));
}

@media (max-width: 900px) {
  .member-regi-form div {
    display: flex;
    flex-direction: column;
    line-height: 40px;
  }
  .member-ispaid-checkbox {
    display: block;
  }
}

.member-personal-information {
  margin-top: 20px;
}

h4 i {
  font-size: 20px;
}
.member-personal-information textarea {
  vertical-align: middle;
  outline: none;
  border: 1px solid rgb(158, 157, 157);
  border-radius: 5px;
  background-image: linear-gradient(white, rgb(238, 249, 252));
}

/* paymeny section */
.payment-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
/* form button  */

.member-container .member-regi-button button {
  margin: 10px 0 50px 15px;
  padding: 9px;
  float: right;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.member-container .member-regi-button button[type="reset"] {
  background-color: rgb(129, 129, 129);
  color: var(--light);
}
.member-container .member-regi-button button[type="submit"] {
  /* background-color: var(--button-color); */
  background-color: #7fb32e;
  color: var(--light);
}
/* hover effect */
.member-container .member-regi-button button[type="submit"]:hover {
}

.member-container .member-regi-button p {
  height: 5px;
  margin-top: 20px;
}

/* after click effect */
.member-container .member-regi-button button[type="submit"]:active {
  /* background-color: var(--button-color); */
  background-color: #7fb32e;
  box-shadow: 0 2px #7fb32e;
  transform: translateY(2px);
}

.member-container .member-regi-button button[type="reset"]:active {
  background-color: rgb(150, 150, 150);
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
