/* slidebar main section */
.sidemenu-container {
  width: 200px;
}
.sidebar {
  /* background: rgb(0, 7, 61); */
  width: 200px;
  background: rgb(238, 238, 238);
  color: rgb(16, 110, 122);
  height: 100vh;
  background: rgba(126, 171, 205, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(126, 171, 205, 0.3);
}
/* Heading section */
.top_selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: rgb(212, 212, 212);
}
/* slidebar individual menu with icons */
.slide_menu {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-left: 8px;
  font-size: 20px;
  margin-top: 18px;
  color: rgb(16, 110, 122);
}
.slide_menu div {
  /* background: red; */
  margin-bottom: 3px;
  width: 160px;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  padding: 3px 0 3px 0;
}

/* item hover effect */
.slide_menu:hover {
  border-right: 4px inset rgb(41, 64, 128);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background: rgba(67, 173, 192, 0.1);
}

.slide_menu i {
  /* background: blue; */
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.bars {
  cursor: pointer;
}
.bars:hover {
  background: rgba(67, 173, 192, 0.1);
}
